<div class = "container">
    <img src = "assets/image/logo.png" alt="Cinque Terre" align = "center" width="237" height="41">
    <br><br><br>
    <div class = "jumbotron" align = "middle">
        <h2>'Tech Up' your Skills. Rediscover Learning!</h2>
    </div>
</div>
<hr>
<div class = "row">
    <div class ="container" align = "center">
        <div class = "col-md-3">
                <img src =  "assets/image/feature1.png" width="160" height="160">
                
        </div>
        <div class = "col-md-3">
                <img src =  "assets/image/feature2.png" width="160" height="160">
        </div>
        <div class = "col-md-3">
                <img src =  "assets/image/feature3.png" width="160" height="160">
        </div>
        <div class = "col-md-3">
                <img src =  "assets/image/feature4.png" width="160" height="160">
        </div>
    </div>
</div>
<div class = "row">
    <div class = "col-md-3">
        <h4 [appBoldText] align = "middle">Live Classes </h4>
    </div>    
    <div class = "col-md-3">
        <h4 align = "middle" [appBoldText]>Expert Instruction</h4>
    </div>    
    <div class = "col-md-3">
        <h4 align = "middle" [appBoldText]>24 X 7 Support</h4>
    </div>    
    <div class = "col-md-3">
        <h4 align = "middle" [appBoldText]>Flexible Scheduling</h4>
    </div>    
</div>