<div class="row">
  <div class = "container">
      <div class="col-md-8">
          <br><br><br><br><br>
            <div class = "jumbotron">
              <h2 align = "center">Top 250 Movies To Watch Before Dying</h2>
              <p align = "center">"Cinema is a matter of what's in the frame and what's out"</p>
            </div>
            <div align = "center">
              <a (click)="login()"><img src = "assets/image/google.png" align = "center" ></a>
            </div>
       </div>
       <div class = "col-md-2" >  
              <img src = "assets/image/popcorn.png" alt="Cinque Terre" align = "center" width="410" height="585">
       </div>
  </div>
</div>


