<div class = "row">
  <div class = "col-md-8">
    <form class="well well-sm">
        <div class ="form-group">
            <input type = "text" [(ngModel)]="title" name = "title" class = "form-control" placeholder = "Search Movie">
        </div>
    </form>
  </div>
  <div class = "col-md-4">
      <input type = "button" (click) = "search(title)" value = "Search" class = "btn btn-default">
  </div>
  <div *ngIf = "flag">
      <ul>
        <li *ngFor = "let movie of movies">
                <a [appBoldText] [routerLink] = "['/movie-details/'+movie.$key]" > {{movie.title}}</a>
          </li>
      </ul>
    </div>
  </div>